*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    --twitter-color:#50b7f5;
    --twitter-background: #e6ecf0;

}

.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 100;
    font-size: 15px;
    margin-right: 20px;

}
.sidebarOption .material-symbols-outlined,
.fa-twitter{
    padding: 15px;
}

.sidebarOption:hover{
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}


.sidebar-tweet{
    width:200px;
    background-color: var(--twitter-color);
    border:none;
    color: white;
    font-weight: 900;
    border-radius: 50px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
}
.sidebar-tweet:hover{
    background-color: #368cc2;
}

body{
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
.sidebar{
    border-right: 1px solid var(--twitter-background);
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.fa-twitter{
    color: var(--twitter-color);
    font-size: 30px;

}
.feed{
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;

}
.feed-header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 15px 20px;    

}
.feed-header-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    box-sizing: content-box;
    border-bottom: 2px solid var(--twitter-background);
}
.feed-header-toph1,
.feed-header-toph2
{
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: none;
    padding: 10px;
}
.feed-header-toph1:hover,
.feed-header-toph2:hover{
  
    cursor: pointer;
    background-color: var(--twitter-background);
    border-bottom: 4px solid var(--twitter-color);
}
.feed-header h2{
    font-size: 20px;
    font-weight: 800;
}
.feed::-webkit-scrollbar{
    display: none;
}

.feed{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tweetbox-input img{
    border-radius: 50%;
    height: 40px;
}
.tweetBox{
    padding-bottom: 10px;
    border-bottom: 2px solid var(--twitter-background);
    padding-right: 10px;
   
}
.tweetBox form{
    display: flex;
    flex-direction: column;
}

.tweetbox-input{
    display: flex;
    padding: 20px;

}
.tweetbox-input.material-symbols-outlined{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 550px;
    align-items: center;
    color: var(--twitter-color);
    padding-bottom: 10px;

}
.tweetbox-input input{
    flex:1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}
.tweetBox-tweetButton{
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: 550px;

}

.post-avatar img{
    border-radius: 50%;
    height: 40px;
}
.post{
    display:flex ;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}
.post-body img{
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}
.post-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


.post-headerSpecial{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
.post-headerSpecial .material-symbols-outlined{
    font-size: 14px !important;
    color: var(--twitter-color);
    margin-right: 5px;
}
.post-headerText h3{
    font-size: 15px;
    margin-bottom: 5px;
}
.post-headerDescription{
    margin-bottom: 10px;
    font-size: 15px;
}
.post-body{
    flex:1;
    padding: 10px;
}
.post-avatar{
    padding: 20px;
}

.widgets{
    flex: 0.3;
}
.widgets-input{
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widgets-input input{
    border: none;
    background-color: var(--twitter-background);
    outline: none;
}
.widgets .material-symbols-outlined{
    color: gray;
}

.widgets-widgetContainer{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}
.widgets-widgetContainer h2{
    font-size: 18px;
    font-weight: 800;
}
